---
titne: language buttons
---
<!-- p5*js language buttons -->
<div id="i18n-btn">
  <h2 id="i18n-settings" class="sr-only">{{#i18n "Language-Settings"}}{{/i18n}}</h2>
  <ul id="i18n-buttons" aria-labelledby="i18n-settings">
    <li><a href='#' lang='ja' data-lang='ja'>日本語</a></li>
    <li><a href='#' lang='en' data-lang='en'>English</a></li>
  </ul>
</div>